/* homepage Stylehseet */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: Georgia, Time, serif;
    background: #f2f2f2
}

h1,h2,h3 {
    font-family: Helvetica, Arial, sans-serif;
}

#menu {
    font-family: sans-serif;
    border: 1px solid red;
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blueviolet;

}
#content-container {
    max-width: 75%;
    margin-left: 30px;
    /* margin-top: 30px; /* */
    margin-right: 30px;
    /* margin: 10px 70px 15px 20px; */
    float: right;
    display: inline-block;
}


/* Three columns side by side */
.team-column {
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens 
9/17/17: Doesn't work?
*/
@media (max-width: 650px) {
    .team-column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.team-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-card img {
    max-width: 40%;
    max-height: 40%;
}
header {
    text-align: center;
    background: #fff;
    color: #1a71b8;
    padding: 10px
}

article {
    background: white;
    padding: 20px;
    margin: 20px 0;
}


article p {
    margin: 0 0 1em;
}

section.post-head small {
    display: block;
    /* margin: 0 0 20px;
    padding: 0 0 20px; */
    border-bottom: solid 1px #fff;
    color: #00c6a0;
}

section.post-foot {
    font-size: 14px;
    border-top: solid 1px #eee;
    margin: 20px 0 0;
    padding: 20px 0 0;
}
